html {
   
    background: #1a2b3c;  
    
}
.outline{
    margin:20px; 
    border: 10px solid rgba(0, 0, 0, 0.30);
    border-radius: 4px;
    
}
input[type=text] {
    border: 0.5px solid #afbfcf;
    border-radius: 4px;
    background-color: #1a2b3c;
    color: white;
    margin: 10px;
}
input[type=text]:focus {
    border: 2px solid #afbfcf;
}

input[type=date] {
    border: 0.5px solid #afbfcf;
    border-radius: 4px;
    background-color: #1a2b3c;
    color: white;
    margin: 10px;
}
input[type=date]:focus {
    border: 2px solid #afbfcf;
}
input[type=checkbox] {
    border: 0.5px solid #afbfcf;
    border-radius: 4px;
    background-color: #1a2b3c;
    color: white;
}

input[type=checkbox]:focus {
    border: 2px solid #afbfcf;
}
select{
     border: 0.5px solid #afbfcf;
    border-radius: 4px;
    background-color: #1a2b3c;
    color: white;
   
}

select[option] :focus {
     border: 2px solid #afbfcf;
}

body {
    
    
    background:#1a2b3c;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    //line-height: 0;
    margin: 100% inherit;    
    padding: 4em 4em 4em;
	overflow:hidden;
	position: fixed; 
    

}

h2{
    padding-top: 5em;
    color: #ffffff;
    font-weight: 600;
    line-height: 1.3;
}
h4{
    color:#afbfcf;
    font-weight: 600;
    line-height: 1.3;    
}

.btn{
    
    align-content: center;
    text-decoration-color: white;
    background: transparent;
    color: white;
    font-size: 20px;
    border: 2px solid rgba(0, 0, 0, 0.30);
    border-radius: 4px;
}


.banner {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;    
    display: block;
    margin: 0.3 inherit;
   // max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}