ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BC202D;
    display: block;
    height: 50px;
    width: 100%;
}

.outline {
    margin: 5px;
    border: 2px solid white;
    border-radius: 10px;
    float: right;
    padding: 0.5em;
    text-decoration: none;
}

#home {
    font-family: sans-serif;
    margin: auto;
    color: white;
    background-image: url(../img/bg-home.jpg);
    background-size: 1400px 680px;
    background-repeat: no-repeat;
}

.box h3 {
    text-align: center;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

.outline:hover {
    background-color: #AE303E;
    text-decoration: none;
    color: white;
}

#signin,
#signup {
    font-family: sans-serif;
    background-image: url(../img/bg-form.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    margin-top: 13%;
    margin-left: 34%;
    border: 2px solid rgba(0, 0, 0, 0.30);
    border-radius: 15px;
    height: 20em;
    width: 25em;
    background: -webkit-linear-gradient(90deg, #E8E2D5, #D0DCDA);
    background: -o-linear-gradient(90deg, #E8E2D5, #DAE3D7);
    background: -moz-linear-gradient(90deg, #E8E2D5, #D0DCDA);
    background: linear-gradient(90deg, #E8E2D5, #DAE3D7);
    opacity: 0.6;
}

input {
    background-color: #4A505F;
    color: #BCBBB9;
    height: 40px;
    width: 200px;
}

i {
    background-color: #71767C;
    color: #D8D8D8;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 50%;
    opacity: 1;
}

table {
    padding: 0;
}

.box button {
    background-color: #b7af9f;
    width: 200px;
    height: 40px;
    color: #6B695F;
    font-weight: bold;
    background: -webkit-linear-gradient(90deg, #b7af9f, #A0A09E);
    background: -o-linear-gradient(90deg, #b7af9f, #A0A09E);
    background: -moz-linear-gradient(90deg, #b7af9f, #A0A09E);
    background: linear-gradient(90deg, #b7af9f, #A0A09E);
}

td a {
    color: #848282;
    text-align: center;
    font-size: 12px;
}

.reg button {
    background-color: white;
    border: 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 200px;
    height: 40px;
    opacity: 0.4;
    margin-left: 42%;
    margin-top: 0.5%;
    color: #6B695F;
    font-weight: bold;
}
