body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}

.text-muted {
    color: #BCBBBB;
    font-weight: 300;
}

.text-thin {
    font-weight: 100;
}

.title-logo {
    margin-top: 20px;
}

.title-super {
    font-size: 60px;
}

.size {
    height: 250px;
    width: 330px;
}

a {
    text-decoration: none;
    color: #747704;
}

a:hover {
    text-decoration: none;
    color: #747704;
}
